.bookmarksTableWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bookmarksTableWrapper #addBookmark {
    width: 2em;
    height: 2em;
    margin-left: auto;
    margin-right: 1.5em;
    margin-top: 3em;
}

#bookmarksTable {
    background-color: #292c3c;
    padding: 1em 0em;
    margin: 1em;
    border-radius: 1em;
}

#bookmarksTable .bookmarksRow {
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    align-items: center;
}

#bookmarksTable .bookmarkTitle {
    margin-right: 1em;
}

#bookmarksTable .bookmarkUrl,
#bookmarksTable .bookmarkTitle {
    background-color: transparent;
    flex-grow: 1;
}

#bookmarksTable .bookmarksIcon {
    height: 1em;
    padding: 2px;
}
#bookmarksTable .bookmarksIconDiv {
    display: flex;
    align-items: center;
    padding: 0em 0.5em 0em 0.5em;
}

#bookmarksTable .navbarBtn:hover {
    background-color: #232634;
}
