.extensionViewWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.extensionView {
  margin-top: 1em;
  flex: 1 1;
  justify-content: center;
  padding: 1em;
}

.extensionViewButtons {
  display: flex;
  flex-direction: row;
  padding: 1em;
  column-gap: 1em;
  & button, & #fileInput::file-selector-button {
    background-color: var(--aboutbrowser-ui-layer1-bg);
    color: var(--aboutbrowser-ui-layer1-fg);
    padding: 0.5em;
    border: none;
    border-radius: 4px;
  }
  & #fileInput {
    color: var(--aboutbrowser-ui-layer0-fg)
  }
}

.extensionView .tileItem {
  background-color: var(--aboutbrowser-ui-layer1-bg);
  color: var(--aboutbrowser-ui-layer1-fg);
  display: flex;
  flex-direction: column;

  & .info {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  & .info img {
    width: 32px;
    height: 32px;
    margin: 1.5em 1em 1em 1.5em;
  }

  & .info .name {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  & .info .name .version {
    margin-left: 1em;
    color: color-mix(in srgb, var(--aboutbrowser-ui-layer1-bg), var(--aboutbrowser-ui-layer1-fg) 50%)
  }

  & .info .name .desc {
    color: color-mix(in srgb, var(--aboutbrowser-ui-layer1-bg), var(--aboutbrowser-ui-layer1-fg) 50%)
  }

  & .info .name .id {
    color: color-mix(in srgb, var(--aboutbrowser-ui-layer1-bg), var(--aboutbrowser-ui-layer1-fg) 50%)
  }

  & .controls {
    flex: 0 0 2.5em;
    display: flex;
    flex-direction: row;
    margin: 0 1em;
    margin-bottom: 0.5em;
    align-items: center;
  }

  & .controls button {
    background-color: transparent;
    border: 1px solid;
    border-color: color-mix(in srgb, var(--aboutbrowser-ui-layer1-bg), var(--aboutbrowser-ui-layer1-fg) 10%);
    border-radius: 4px;
    color: var(--aboutbrowser-ui-layer1-fg);
    height: 2em;
    &:disabled {
      color: color-mix(in srgb, var(--aboutbrowser-ui-layer1-bg), var(--aboutbrowser-ui-layer1-fg) 50%);
    }
  }
}

.expand {flex: 1}
