.omnibox {
    padding: 0 1em;
    border-radius: 25px;
    background-color: var(--aboutbrowser-omnibox-bg);
    border: none;
    color: var(--aboutbrowser-omnibox-fg);
    height: 4em;
    width: 561px;
}

.omnibox::placeholder {
  color: color-mix(in srgb, var(--aboutbrowser-omnibox-bg), var(--aboutbrowser-omnibox-fg) 50%);
}

.omnibox:-webkit-autofill,
.omnibox:-webkit-autofill:hover,
.omnibox:-webkit-autofill:active {
    background-color: var(--aboutbrowser-omnibox-bg);
}

#content {
    text-align: center;
}

.footerRight {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerRight div {
    flex-grow: 1;
}

#recentsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#recents {
    padding-top: 2em;
    display: flex;
    width: 34em;
    column-gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.recent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.1s linear;
    width: 6em;
    height: 7em;
}

.recent:hover {
    background-color: color-mix(in srgb, var(--aboutbrowser-ui-bg), var(--aboutbrowser-frame-bg) 25%);
}

.recent:active {
    background-color: color-mix(in srgb, var(--aboutbrowser-ui-bg), var(--aboutbrowser-frame-bg) 45%);
}

.recentIconWrapper {
    background-color: var(--aboutbrowser-frame-bg);
    border-radius: 3em;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
}

.recent img {
    width: 1.5em;
    height: 1.5em;
}

.recent span {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
}

[data-aboutbrowser-theme-use-image-for-ntp-bg=""] .recent span {
    background-color: color-mix(in srgb, var(--aboutbrowser-ui-bg), var(--aboutbrowser-frame-bg) 25%);
    padding: 2px 8px;
    border-radius: 16px;
}

[data-aboutbrowser-theme-use-image-for-ntp-bg=""] .recent:active span {
    background-color: color-mix(in srgb, var(--aboutbrowser-ui-bg), var(--aboutbrowser-frame-bg) 45%);
}

.themedBtn {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    margin: 2px;
    transition: background-color .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}

.themedBtn:hover {
    background-color: color-mix(in srgb, var(--aboutbrowser-ui-bg) var(--aboutbrowser-ui-fg) 15%);
}

.themedBtn:active  {
    background-color: color-mix(in srgb, var(--aboutbrowser-ui-bg) var(--aboutbrowser-ui-fg) 25%);
}


[data-aboutbrowser-theme-use-image-for-ntp-bg=""] body {
    background: var(--aboutbrowser-image-ui-bg) no-repeat;
    background-position: center bottom;
    background-size: cover;
}
