.navbarUrl {
    height: 4em;
    width: 561px;
}

#content {
    text-align: center;
}

.footerRight {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerRight div {
    flex-grow: 1;
}

#recentsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#recents {
    padding-top: 2em;
    display: grid;
    grid-template-columns: 6em 6em 6em 6em 6em;
    grid-template-rows: 7em 7em;
}

.recent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.1s linear;
}

.recent:active {
    background-color: #202124;
}

.recentIconWrapper {
    background-color: #202124;
    border-radius: 3em;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
}

.recent img {
    width: 1.5em;
    height: 1.5em;
}

.recent span {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
}

.themedBtn {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    margin: 2px;
    transition: background-color .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}

.themedBtn:hover {
    background-color: #454649; 
}
