.bookmarksContainer {
    display: flex;
    border-radius: 2px;
    background-color: var(--aboutbrowser-toolbar-bg);
    overflow: scroll;
    overflow-y: hidden;
    height: 3em;
}

.bookmarksContainer::-webkit-scrollbar {
  background-color: var(--selected-ui);
}
.bookmarksContainer::-webkit-scrollbar-thumb {
  background-color: #232634;
}


.bookmark {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin: 4px;
    font-size: 1em;
    transition: background-color .2s ease-in-out;
    color: var(--aboutbrowser-bookmark-fg);
}

.bookmarkIcon {
    width: calc(1em + 1px);
    height: calc(1em + 1px);
    margin-right: 2px;
}

.bookmark:hover {
    background-color: #292c3c;
}

.bookmark:active {
    background-color: #232634;
}

.bookmarkIcon {
    margin-right: 5px;
}
