@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
  --tab-bg: #202124;
  --selected-ui: #35363a;
  --button-hover: #454649;
  --button-color: #f1f3f4;
  --text-color: #ffffff;
}


html,
body {
  margin: 0;
  height: 100%;
  color-scheme: dark;
}

.container {
  font-family: 'Roboto', sans-serif;
}

.browserContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.containerPadding {
  padding-left: 1em;
  padding-right: 1em;
}

.navbar {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-flow: row;
  background-color: var(--selected-ui);
}

.browser {
  flex: auto;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.browserTabContents {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbarBtn {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin: 2px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  font-size: 1em;
  transition: background-color .2s ease-in-out;
  color: var(--button-color);
}

.navbarBtn:hover {
  background-color: var(--button-hover);
}

.navbarBtn:active {
  background-color: var(--tab-bg);
}

.navbarUrl {
  flex: auto;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 1em;
  padding-right: 2.75em;
  border-radius: 25px;
  background-color: var(--tab-bg);
  border: none;
  color: var(--text-color);
}

input {
  background-color: #292c3c;
  color: var(--text-color);
  border-radius: 5px;
  border: none;
}

button {
  color: var(--text-color);
  background-color: var(--tab-bg);
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: var(--button-hover);;
}

button:active {
  background-color: var(--button-hover);;
}

.navbarUrl::placeholder {
  color: var(--text-color);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bookmarksBtnWrapper {
  position: relative;
}

.bookmarksBtn {
  position: absolute;
  right: 0.5em;
  bottom: 0;
  width: 32px;
  height: 32px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.popupWrapper {
  display: flex;
  position: absolute;
  z-index: 999999;
  top: 6em;
  justify-content: center;
  width: 100%;
  visibility: hidden;
}

.popup {
  background-color: rgb(41, 42, 45);
  padding: 0 1em 0.5em 1em;
  border-radius: 0.5em;
  border-color: black;
  border-style: solid;
}

.popupButtonMain {
  padding: 0.5em 1.5em;
  color: rgba(0, 0, 0, 1.0);
  border: rgb(142,170,255);
  background-color: rgb(142,170,255);
  text-decoration: none;
  border-radius: 4px;
  float: right;
}

.popupButtonMain:hover {
  border: var(--button-hover);
  background-color: var(--button-hover);
}

.popupButtonMain:active {
  border: rgb(126,149,191);
  background-color: rgb(126,149,191);
}

.popupTitle {
  font-size: larger;
  font-weight: bold;
}
.popupContent {
  font-size: smaller;
}

.settingsCtxMenu {
  position: absolute;
  right: 0;
  top: 5.75em;
  background: var(--tab-bg);
  width: 18em;
  height:auto;
  z-index: 101;
}

.settingsCtxMenu button {
  width: 100%;
  text-align: left;
  padding-left: 3em;
  height: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.settingsCtxMenu .sep {
  border-bottom: 1px solid #3c4043;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.ctxMenuClickChecker {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 100;
}
