html,
body {
  margin: 0;
  height: 100%;
  color-scheme: dark;
}
.container {
  font-family: Roboto, sans-serif;
}

.browserContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.containerPadding {
  padding-left: 1em;
  padding-right: 1em;
}

.navbar {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-flow: row;
  background-color: var(--aboutbrowser-toolbar-bg);
}

.browser {
  flex: auto;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.browserTabContents {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbarBtn {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  margin: 2px;
  flex-shrink: 0;
  transition: background-color .2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--aboutbrowser-toolbar-button-fg);
  height: 2.5em;
  width: 2.5em;
}

.navbarBtn:hover {
  background-color: color-mix(in srgb, var(--aboutbrowser-toolbar-bg), var(--aboutbrowser-toolbar-button-fg) 15%);
}

.navbarBtn:active, .navbarBtn.active {
  background-color: color-mix(in srgb, var(--aboutbrowser-toolbar-bg), var(--aboutbrowser-toolbar-button-fg) 50%);
}

.navbarUrl {
  flex: auto;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 1em;
  padding-right: 2.75em;
  border-radius: 25px;
  background-color: var(--aboutbrowser-omnibox-bg);
  border: none;
  color: var(--aboutbrowser-omnibox-fg);
  height: 2.5em;
}

.navbarUrl::placeholder {
  color: color-mix(in srgb, var(--aboutbrowser-omnibox-bg), var(--aboutbrowser-omnibox-fg) 50%);
}

.navbarUrl:-webkit-autofill,
.navbarUrl:-webkit-autofill:hover,
.navbarUrl:-webkit-autofill:active {
    background-color: var(--aboutbrowser-omnibox-bg);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bookmarksBtnWrapper {
  position:relative;
}

.bookmarksBtn {
  position:absolute;
  width: 2em;
  height: 2em;
  transform: translate(-3.25em, 0.25em);
  display: flex;
  justify-content:center;
  align-items:center;
}

.bookmarksBtn:hover {
  background-color: color-mix(in srgb, var(--aboutbrowser-omnibox-bg), var(--aboutbrowser-omnibox-fg) 15%);
}

.bookmarksBtn:active {
  background-color: color-mix(in srgb, var(--aboutbrowser-omnibox-bg), var(--aboutbrowser-omnibox-fg) 25%);
}

/* this one rule was fucking up the alignment */
/*
.bookmarksBtn > span {
  transform: translate(0px, -2px);  
}
*/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.popupWrapper {display:none}

/*
.popupWrapper {
  display: flex;
  position: absolute;
  z-index: 999999;
  top: 6em;
  justify-content: center;
  width: 100%;
  visibility: hidden;
}

.popup {
  background-color: rgb(41, 42, 45);
  padding: 0 1em 0.5em 1em;
  border-radius: 0.5em;
  border-color: black;
  border-style: solid;
}

.popupButtonMain {
  padding: 0.5em 1.5em;
  color: rgba(0, 0, 0, 1.0);
  border: rgb(142,170,255);
  background-color: rgb(142,170,255);
  text-decoration: none;
  border-radius: 4px;
  float: right;
}

.popupButtonMain:hover {
  border: var(--button-hover);
  background-color: var(--button-hover);
}

.popupButtonMain:active {
  border: rgb(126,149,191);
  background-color: rgb(126,149,191);
}

.popupTitle {
  font-size: larger;
  font-weight: bold;
}
.popupContent {
  font-size: smaller;
}
*/

.moreMenu.transition {
  transition: opacity .15s linear;
}

.moreMenu.hidden {
  opacity: 0;
  z-index: -100;
}

.moreMenu {
  position: absolute;
  right: 0;
  top: 5.5em;
  background: var(--aboutbrowser-frame-bg);
  width: 18.215em;
  height:auto;
  z-index: 101;
  border-radius: 8px;
  padding: 8px 0;
  border: 1px solid;
  border-color: color-mix(in srgb, var(--aboutbrowser-frame-bg), var(--aboutbrowser-ui-fg) 15%);
}

.moreMenu > button {
  width: calc(100% - 4px);
  margin: 0 2px;
  height: 2em;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.moreMenu > button > .menuIcon {
  padding: 0 16px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreMenu > button > .menuIcon > .placeholder {
  width: 20px;
}

.moreMenu > button > .title {
  flex: 1;
}

.moreMenu > button:hover {
  background-color: color-mix(in srgb, var(--aboutbrowser-frame-bg), var(--aboutbrowser-ui-fg) 15%);
}

.moreMenu > button:active {
  background-color: color-mix(in srgb, var(--aboutbrowser-frame-bg), var(--aboutbrowser-ui-fg) 25%);
}

.moreMenu > .sep {
  border-bottom: 1px solid color-mix(in srgb, var(--aboutbrowser-frame-bg), var(--aboutbrowser-ui-fg) 20%);
  margin: 0.5em 0.75em;
}

.ctxMenuClickChecker {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 100;
}

#addtab {
  padding: 0;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addtab.transition {
  transition: transform 0.25s ease-out;
}
